#footer {
	text-align: center;
	margin: 0 auto;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

body
{
	background-image: url('img/drawing.png');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat:no-repeat;
	padding: 50px;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  	margin: 0px 10px 10px 0px;
  	float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.buttons {
	width: 100%;
}

#delfb{
	float: right;
}

#delbb{
	float: right;
}

.insButton{
    float: left;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.delButton{
	float: right;
    width: 40%;
    height: 100%;    
    overflow: hidden;    
}

:focus{
    outline:0; /*removes the dotted border*/
}