body
{
	margin: 0 0 100px;
}
canvas {
	border: 3px solid #993300;
	border-radius: 15px;
	margin: 0 auto;
    	display: block;
}

.action-button
{
	position: relative;
  	margin: 0px 10px 10px 0px;
	border-radius: 10px; /*rounded corners*/
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	cursor: pointer; 
	cursor: hand;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.buttons {
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	text-align:center;
}

.insButton{
	float: left;
	width: 351px;
}

.delButton{
	float: right;
	display: inline-block;
	width: 407px;
}

.clrButton{
	margin: 0 auto;
}

:focus{
    outline: 0; /*removes the dotted border from buttons*/
}

#footer {
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
}
